menu "ESP Audio Simple Player"

    menu "Audio Simple Player IO Stream"
        config ESP_AUDIO_SIMPLE_PLAYER_HTTP_EN
            bool "Enable HTTP IO stream"
            default y
            help
                Include support for HTTP IO stream in the audio player.

        config ESP_AUDIO_SIMPLE_PLAYER_FILE_EN
            bool "Enable FILE IO stream"
            default y
            help
                Include support for FILE IO stream in the audio player.

        config ESP_AUDIO_SIMPLE_PLAYER_EMBED_FLASH_EN
            bool "Enable Embedded Flash IO stream"
            default y
            help
                Include support for Embedded Flash IO stream in the audio player.
    endmenu

    menu "Audio Simple Player Filters"

        config ESP_AUDIO_SIMPLE_PLAYER_RESAMPLE_EN
            bool "Enable resampling"
            default y
            help
                Allow the audio player to perform resampling of audio streams.

        if ESP_AUDIO_SIMPLE_PLAYER_RESAMPLE_EN

            config AUDIO_SIMPLE_PLAYER_RESAMPLE_DEST_RATE
                int "Destination sample rate for resampling"
                default 48000
                range 8000 96000
                help
                    Set the target sample rate for audio resampling.

        endif

        config ESP_AUDIO_SIMPLE_PLAYER_CH_CVT_EN
            bool "Enable channel conversion"
            default n
            help
                Allow the audio player to convert between different channel configurations (e.g., mono to stereo).

        if ESP_AUDIO_SIMPLE_PLAYER_CH_CVT_EN

            config AUDIO_SIMPLE_PLAYER_CH_CVT_DEST
                int "Target channel count for conversion"
                default 2
                range 1 2
                help
                    Set the target number of audio channels for conversion.

        endif

        config ESP_AUDIO_SIMPLE_PLAYER_BIT_CVT_EN
            bool "Enable bit depth conversion"
            default n
            help
                Allow the audio player to convert audio data between different bit depths (e.g., 16-bit to 24-bit).

        if ESP_AUDIO_SIMPLE_PLAYER_BIT_CVT_EN

            choice AUDIO_SIMPLE_PLAYER_BIT_CVT_CONFIG
                prompt "Destination bit depth for conversion"
                default AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_16BIT
                help
                    Choose the target bit depth for audio conversion.

                config AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_16BIT
                    bool "16-bit depth"

                config AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_24BIT
                    bool "24-bit depth"

                config AUDIO_SIMPLE_PLAYER_BIT_CVT_DEST_32BIT
                    bool "32-bit depth"
            endchoice

        endif

    endmenu

endmenu
